<div class="mainarea">

  <div class="container">

    <div class="colums is-centered">
  
      <div class="box colum is-one-third">
  
  
        <h1 class = "title has-text-centered">Harf Eslestirme</h1>
        <p class="has-text-centered">
          <span [class]="compore(letter,enterText[i])" *ngFor="let letter of randomText.split(''); let i =index">
            {{letter}}
          </span>
  
          
  
        </p>
  
        <div class="field">
          <input class="input" (input)="getInputValue($any($event.target).value)">
        </div>
        <div *ngIf="randomText===enterText">
          <h1 class="title">Bravo!</h1>
        </div>
      </div>
  
    </div>
  
  </div>
  

</div>
